spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/commu_dev
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO
    com.shaul.commuapi: DEBUG
    org.hibernate.SQL: DEBUG
