spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/commu
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: WARN
    com.shaul.commuapi: INFO
